*{
    border: 0;
    margin: 0;
    padding: 0;
}
.wrap{
    width: 570px;
    height: 650px;
    margin: 0 auto;
}
.main{
    width: 170px;
    height:650px;
    float: left;
    background-color: #254665;
}
.main p{
    color: #858585;
    line-height: 26px;
    margin-left: 5px;
}
.picture{
    width: 80px;
    height: 100px;
    margin: 30px;
    border: 1px solid white;
}
.main-1{
    width: 300px;
    height: 650px;
    float: left;
}
.top{
    width: 300px;
    height: 100px;
}
.top span{
    font-size: 20px;
    line-height: 60px;
    margin-left: 30px;
    color: #254665;
}
.top p{
    margin-left: 50px;
    color: #777777;
}
.jy{
    width: 240px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 2px solid #254665;
}
.jy span{
    font-size: 20px;
    color: #254665;
    line-height: 30px;
}
.content{
    width: 260px;
    height: 50px;
    margin: 0 auto;
}
.content span{
    margin-right: 6px;
    font-size: 12px;
    color: #777777;
}